---
import Section from "./Section.astro";
---

<Section
  id="model-y"
  title="Model Y"
  subtitle="From $29,490*"
  description="After Federal Tax Credit & Est. Gas Savings"
  color="black"
>
  <div slot="footer" class="flex flex-col pb-20">
    <div
      class="flex flex-col sm:flex-row gap-5 justify-center flex-wrap px-5 my-10"
    >
      <a
        href="#"
        class="border-[3px] border-gray-600 w-full sm:max-w-72 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
        >Order Now</a
      >
      <a
        href="#"
        class="border-[3px] border-white w-full sm:max-w-72 bg-white text-black text-sm rounded font-medium px-12 py-2 hover:bg-black hover:text-white transition-colors inline-flex justify-center items-center"
        >Demo Drive</a
      >
    </div>

    <p class="text-sm">
      *Price before incentives is $42,990, excluding taxes and fees. Subject to
      change. <br />
      <a href="#" class="underline">Learn about est. gas savings.</a>
    </p>
  </div>

  <img
    slot="background"
    src="/model-y.avif"
    alt="model-y"
    class="absolute top-0 bottom-0 object-cover object-center h-full w-full"
  />
</Section>
